<div>
  <nav class="navbar navbar-expand navbar-dark">
    <div class="container">
      <a href="#" class="navbar-brand">FRENT JOGJGA DATABASE</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link">Daftar Motor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Tambah Motor</a>
        </li>
      </div>
    </div>
  </nav>
  <div class="container mt-3">
    <h2 class="mb-3">Tambah Data Motor</h2>
    <router-outlet></router-outlet>
  </div>
</div>